LICENSE
include tccli/services/aa/v20200224/api.json
include tccli/services/aa/v20200224/examples.json
include tccli/services/aai/v20180522/api.json
include tccli/services/aai/v20180522/examples.json
include tccli/services/af/v20200226/api.json
include tccli/services/af/v20200226/examples.json
include tccli/services/afc/v20200226/api.json
include tccli/services/afc/v20200226/examples.json
include tccli/services/ame/v20190916/api.json
include tccli/services/ame/v20190916/examples.json
include tccli/services/ams/v20201229/api.json
include tccli/services/ams/v20201229/examples.json
include tccli/services/ams/v20200608/api.json
include tccli/services/ams/v20200608/examples.json
include tccli/services/antiddos/v20200309/api.json
include tccli/services/antiddos/v20200309/examples.json
include tccli/services/apcas/v20201127/api.json
include tccli/services/apcas/v20201127/examples.json
include tccli/services/ape/v20200513/api.json
include tccli/services/ape/v20200513/examples.json
include tccli/services/api/v20201106/api.json
include tccli/services/api/v20201106/examples.json
include tccli/services/apigateway/v20180808/api.json
include tccli/services/apigateway/v20180808/examples.json
include tccli/services/autoscaling/v20180419/api.json
include tccli/services/autoscaling/v20180419/examples.json
include tccli/services/asr/v20190614/api.json
include tccli/services/asr/v20190614/examples.json
include tccli/services/asw/v20200722/api.json
include tccli/services/asw/v20200722/examples.json
include tccli/services/ba/v20200720/api.json
include tccli/services/ba/v20200720/examples.json
include tccli/services/batch/v20170312/api.json
include tccli/services/batch/v20170312/examples.json
include tccli/services/bda/v20200324/api.json
include tccli/services/bda/v20200324/examples.json
include tccli/services/billing/v20180709/api.json
include tccli/services/billing/v20180709/examples.json
include tccli/services/bizlive/v20190313/api.json
include tccli/services/bizlive/v20190313/examples.json
include tccli/services/bm/v20180423/api.json
include tccli/services/bm/v20180423/examples.json
include tccli/services/bmeip/v20180625/api.json
include tccli/services/bmeip/v20180625/examples.json
include tccli/services/bmlb/v20180625/api.json
include tccli/services/bmlb/v20180625/examples.json
include tccli/services/bmvpc/v20180625/api.json
include tccli/services/bmvpc/v20180625/examples.json
include tccli/services/bri/v20190328/api.json
include tccli/services/bri/v20190328/examples.json
include tccli/services/btoe/v20210514/api.json
include tccli/services/btoe/v20210514/examples.json
include tccli/services/btoe/v20210303/api.json
include tccli/services/btoe/v20210303/examples.json
include tccli/services/cam/v20190116/api.json
include tccli/services/cam/v20190116/examples.json
include tccli/services/captcha/v20190722/api.json
include tccli/services/captcha/v20190722/examples.json
include tccli/services/cat/v20180409/api.json
include tccli/services/cat/v20180409/examples.json
include tccli/services/cbs/v20170312/api.json
include tccli/services/cbs/v20170312/examples.json
include tccli/services/ccc/v20200210/api.json
include tccli/services/ccc/v20200210/examples.json
include tccli/services/cdb/v20170320/api.json
include tccli/services/cdb/v20170320/examples.json
include tccli/services/cdn/v20180606/api.json
include tccli/services/cdn/v20180606/examples.json
include tccli/services/cds/v20180420/api.json
include tccli/services/cds/v20180420/examples.json
include tccli/services/cfs/v20190719/api.json
include tccli/services/cfs/v20190719/examples.json
include tccli/services/cfw/v20190904/api.json
include tccli/services/cfw/v20190904/examples.json
include tccli/services/chdfs/v20201112/api.json
include tccli/services/chdfs/v20201112/examples.json
include tccli/services/chdfs/v20190718/api.json
include tccli/services/chdfs/v20190718/examples.json
include tccli/services/cii/v20210408/api.json
include tccli/services/cii/v20210408/examples.json
include tccli/services/cii/v20201210/api.json
include tccli/services/cii/v20201210/examples.json
include tccli/services/cim/v20190318/api.json
include tccli/services/cim/v20190318/examples.json
include tccli/services/cis/v20180408/api.json
include tccli/services/cis/v20180408/examples.json
include tccli/services/ckafka/v20190819/api.json
include tccli/services/ckafka/v20190819/examples.json
include tccli/services/clb/v20180317/api.json
include tccli/services/clb/v20180317/examples.json
include tccli/services/cloudaudit/v20190319/api.json
include tccli/services/cloudaudit/v20190319/examples.json
include tccli/services/cloudhsm/v20191112/api.json
include tccli/services/cloudhsm/v20191112/examples.json
include tccli/services/cls/v20201016/api.json
include tccli/services/cls/v20201016/examples.json
include tccli/services/cme/v20191029/api.json
include tccli/services/cme/v20191029/examples.json
include tccli/services/cmq/v20190304/api.json
include tccli/services/cmq/v20190304/examples.json
include tccli/services/cms/v20190321/api.json
include tccli/services/cms/v20190321/examples.json
include tccli/services/cpdp/v20190820/api.json
include tccli/services/cpdp/v20190820/examples.json
include tccli/services/cr/v20180321/api.json
include tccli/services/cr/v20180321/examples.json
include tccli/services/cvm/v20170312/api.json
include tccli/services/cvm/v20170312/examples.json
include tccli/services/cwp/v20180228/api.json
include tccli/services/cwp/v20180228/examples.json
include tccli/services/cws/v20180312/api.json
include tccli/services/cws/v20180312/examples.json
include tccli/services/cynosdb/v20190107/api.json
include tccli/services/cynosdb/v20190107/examples.json
include tccli/services/dayu/v20180709/api.json
include tccli/services/dayu/v20180709/examples.json
include tccli/services/dbbrain/v20210527/api.json
include tccli/services/dbbrain/v20210527/examples.json
include tccli/services/dbbrain/v20191016/api.json
include tccli/services/dbbrain/v20191016/examples.json
include tccli/services/dc/v20180410/api.json
include tccli/services/dc/v20180410/examples.json
include tccli/services/dcdb/v20180411/api.json
include tccli/services/dcdb/v20180411/examples.json
include tccli/services/dlc/v20210125/api.json
include tccli/services/dlc/v20210125/examples.json
include tccli/services/dnspod/v20210323/api.json
include tccli/services/dnspod/v20210323/examples.json
include tccli/services/domain/v20180808/api.json
include tccli/services/domain/v20180808/examples.json
include tccli/services/drm/v20181115/api.json
include tccli/services/drm/v20181115/examples.json
include tccli/services/ds/v20180523/api.json
include tccli/services/ds/v20180523/examples.json
include tccli/services/dtf/v20200506/api.json
include tccli/services/dtf/v20200506/examples.json
include tccli/services/dts/v20180330/api.json
include tccli/services/dts/v20180330/examples.json
include tccli/services/ecc/v20181213/api.json
include tccli/services/ecc/v20181213/examples.json
include tccli/services/ecdn/v20191012/api.json
include tccli/services/ecdn/v20191012/examples.json
include tccli/services/ecm/v20190719/api.json
include tccli/services/ecm/v20190719/examples.json
include tccli/services/eiam/v20210420/api.json
include tccli/services/eiam/v20210420/examples.json
include tccli/services/eis/v20210601/api.json
include tccli/services/eis/v20210601/examples.json
include tccli/services/eis/v20200715/api.json
include tccli/services/eis/v20200715/examples.json
include tccli/services/emr/v20190103/api.json
include tccli/services/emr/v20190103/examples.json
include tccli/services/es/v20180416/api.json
include tccli/services/es/v20180416/examples.json
include tccli/services/facefusion/v20181201/api.json
include tccli/services/facefusion/v20181201/examples.json
include tccli/services/faceid/v20180301/api.json
include tccli/services/faceid/v20180301/examples.json
include tccli/services/fmu/v20191213/api.json
include tccli/services/fmu/v20191213/examples.json
include tccli/services/ft/v20200304/api.json
include tccli/services/ft/v20200304/examples.json
include tccli/services/gaap/v20180529/api.json
include tccli/services/gaap/v20180529/examples.json
include tccli/services/gme/v20180711/api.json
include tccli/services/gme/v20180711/examples.json
include tccli/services/gpm/v20200820/api.json
include tccli/services/gpm/v20200820/examples.json
include tccli/services/gs/v20191118/api.json
include tccli/services/gs/v20191118/examples.json
include tccli/services/gse/v20191112/api.json
include tccli/services/gse/v20191112/examples.json
include tccli/services/habo/v20181203/api.json
include tccli/services/habo/v20181203/examples.json
include tccli/services/hcm/v20181106/api.json
include tccli/services/hcm/v20181106/examples.json
include tccli/services/iai/v20200303/api.json
include tccli/services/iai/v20200303/examples.json
include tccli/services/iai/v20180301/api.json
include tccli/services/iai/v20180301/examples.json
include tccli/services/ic/v20190307/api.json
include tccli/services/ic/v20190307/examples.json
include tccli/services/ie/v20200304/api.json
include tccli/services/ie/v20200304/examples.json
include tccli/services/iir/v20200417/api.json
include tccli/services/iir/v20200417/examples.json
include tccli/services/ims/v20201229/api.json
include tccli/services/ims/v20201229/examples.json
include tccli/services/ims/v20200713/api.json
include tccli/services/ims/v20200713/examples.json
include tccli/services/iot/v20180123/api.json
include tccli/services/iot/v20180123/examples.json
include tccli/services/iotcloud/v20210408/api.json
include tccli/services/iotcloud/v20210408/examples.json
include tccli/services/iotcloud/v20180614/api.json
include tccli/services/iotcloud/v20180614/examples.json
include tccli/services/iotexplorer/v20190423/api.json
include tccli/services/iotexplorer/v20190423/examples.json
include tccli/services/iottid/v20190411/api.json
include tccli/services/iottid/v20190411/examples.json
include tccli/services/iotvideo/v20201215/api.json
include tccli/services/iotvideo/v20201215/examples.json
include tccli/services/iotvideo/v20191126/api.json
include tccli/services/iotvideo/v20191126/examples.json
include tccli/services/iotvideoindustry/v20201201/api.json
include tccli/services/iotvideoindustry/v20201201/examples.json
include tccli/services/kms/v20190118/api.json
include tccli/services/kms/v20190118/examples.json
include tccli/services/lighthouse/v20200324/api.json
include tccli/services/lighthouse/v20200324/examples.json
include tccli/services/live/v20180801/api.json
include tccli/services/live/v20180801/examples.json
include tccli/services/lp/v20200224/api.json
include tccli/services/lp/v20200224/examples.json
include tccli/services/mariadb/v20170312/api.json
include tccli/services/mariadb/v20170312/examples.json
include tccli/services/market/v20191010/api.json
include tccli/services/market/v20191010/examples.json
include tccli/services/memcached/v20190318/api.json
include tccli/services/memcached/v20190318/examples.json
include tccli/services/mgobe/v20201014/api.json
include tccli/services/mgobe/v20201014/examples.json
include tccli/services/mgobe/v20190929/api.json
include tccli/services/mgobe/v20190929/examples.json
include tccli/services/mna/v20210119/api.json
include tccli/services/mna/v20210119/examples.json
include tccli/services/mongodb/v20190725/api.json
include tccli/services/mongodb/v20190725/examples.json
include tccli/services/mongodb/v20180408/api.json
include tccli/services/mongodb/v20180408/examples.json
include tccli/services/monitor/v20180724/api.json
include tccli/services/monitor/v20180724/examples.json
include tccli/services/mps/v20190612/api.json
include tccli/services/mps/v20190612/examples.json
include tccli/services/mrs/v20200910/api.json
include tccli/services/mrs/v20200910/examples.json
include tccli/services/ms/v20180408/api.json
include tccli/services/ms/v20180408/examples.json
include tccli/services/msp/v20180319/api.json
include tccli/services/msp/v20180319/examples.json
include tccli/services/mvj/v20190926/api.json
include tccli/services/mvj/v20190926/examples.json
include tccli/services/nlp/v20190408/api.json
include tccli/services/nlp/v20190408/examples.json
include tccli/services/npp/v20190823/api.json
include tccli/services/npp/v20190823/examples.json
include tccli/services/oceanus/v20190422/api.json
include tccli/services/oceanus/v20190422/examples.json
include tccli/services/ocr/v20181119/api.json
include tccli/services/ocr/v20181119/examples.json
include tccli/services/organization/v20181225/api.json
include tccli/services/organization/v20181225/examples.json
include tccli/services/partners/v20180321/api.json
include tccli/services/partners/v20180321/examples.json
include tccli/services/pds/v20210701/api.json
include tccli/services/pds/v20210701/examples.json
include tccli/services/postgres/v20170312/api.json
include tccli/services/postgres/v20170312/examples.json
include tccli/services/privatedns/v20201028/api.json
include tccli/services/privatedns/v20201028/examples.json
include tccli/services/rce/v20201103/api.json
include tccli/services/rce/v20201103/examples.json
include tccli/services/redis/v20180412/api.json
include tccli/services/redis/v20180412/examples.json
include tccli/services/rkp/v20191209/api.json
include tccli/services/rkp/v20191209/examples.json
include tccli/services/rp/v20200224/api.json
include tccli/services/rp/v20200224/examples.json
include tccli/services/rum/v20210622/api.json
include tccli/services/rum/v20210622/examples.json
include tccli/services/scf/v20180416/api.json
include tccli/services/scf/v20180416/examples.json
include tccli/services/ses/v20201002/api.json
include tccli/services/ses/v20201002/examples.json
include tccli/services/smpn/v20190822/api.json
include tccli/services/smpn/v20190822/examples.json
include tccli/services/sms/v20210111/api.json
include tccli/services/sms/v20210111/examples.json
include tccli/services/sms/v20190711/api.json
include tccli/services/sms/v20190711/examples.json
include tccli/services/soe/v20180724/api.json
include tccli/services/soe/v20180724/examples.json
include tccli/services/solar/v20181011/api.json
include tccli/services/solar/v20181011/examples.json
include tccli/services/sqlserver/v20180328/api.json
include tccli/services/sqlserver/v20180328/examples.json
include tccli/services/ssa/v20180608/api.json
include tccli/services/ssa/v20180608/examples.json
include tccli/services/ssl/v20191205/api.json
include tccli/services/ssl/v20191205/examples.json
include tccli/services/sslpod/v20190605/api.json
include tccli/services/sslpod/v20190605/examples.json
include tccli/services/ssm/v20190923/api.json
include tccli/services/ssm/v20190923/examples.json
include tccli/services/sts/v20180813/api.json
include tccli/services/sts/v20180813/examples.json
include tccli/services/taf/v20200210/api.json
include tccli/services/taf/v20200210/examples.json
include tccli/services/tag/v20180813/api.json
include tccli/services/tag/v20180813/examples.json
include tccli/services/tat/v20201028/api.json
include tccli/services/tat/v20201028/examples.json
include tccli/services/tav/v20190118/api.json
include tccli/services/tav/v20190118/examples.json
include tccli/services/tbaas/v20180416/api.json
include tccli/services/tbaas/v20180416/examples.json
include tccli/services/tbm/v20180129/api.json
include tccli/services/tbm/v20180129/examples.json
include tccli/services/tbp/v20190627/api.json
include tccli/services/tbp/v20190627/examples.json
include tccli/services/tbp/v20190311/api.json
include tccli/services/tbp/v20190311/examples.json
include tccli/services/tcaplusdb/v20190823/api.json
include tccli/services/tcaplusdb/v20190823/examples.json
include tccli/services/tcb/v20180608/api.json
include tccli/services/tcb/v20180608/examples.json
include tccli/services/tcex/v20200727/api.json
include tccli/services/tcex/v20200727/examples.json
include tccli/services/tci/v20190318/api.json
include tccli/services/tci/v20190318/examples.json
include tccli/services/tcr/v20190924/api.json
include tccli/services/tcr/v20190924/examples.json
include tccli/services/tdid/v20210519/api.json
include tccli/services/tdid/v20210519/examples.json
include tccli/services/tdmq/v20200217/api.json
include tccli/services/tdmq/v20200217/examples.json
include tccli/services/tem/v20210701/api.json
include tccli/services/tem/v20210701/examples.json
include tccli/services/tem/v20201221/api.json
include tccli/services/tem/v20201221/examples.json
include tccli/services/tia/v20180226/api.json
include tccli/services/tia/v20180226/examples.json
include tccli/services/tic/v20201117/api.json
include tccli/services/tic/v20201117/examples.json
include tccli/services/ticm/v20181127/api.json
include tccli/services/ticm/v20181127/examples.json
include tccli/services/tics/v20181115/api.json
include tccli/services/tics/v20181115/examples.json
include tccli/services/tiems/v20190416/api.json
include tccli/services/tiems/v20190416/examples.json
include tccli/services/tiia/v20190529/api.json
include tccli/services/tiia/v20190529/examples.json
include tccli/services/tione/v20191022/api.json
include tccli/services/tione/v20191022/examples.json
include tccli/services/tiw/v20190919/api.json
include tccli/services/tiw/v20190919/examples.json
include tccli/services/tke/v20180525/api.json
include tccli/services/tke/v20180525/examples.json
include tccli/services/tkgdq/v20190411/api.json
include tccli/services/tkgdq/v20190411/examples.json
include tccli/services/tms/v20201229/api.json
include tccli/services/tms/v20201229/examples.json
include tccli/services/tms/v20200713/api.json
include tccli/services/tms/v20200713/examples.json
include tccli/services/tmt/v20180321/api.json
include tccli/services/tmt/v20180321/examples.json
include tccli/services/trtc/v20190722/api.json
include tccli/services/trtc/v20190722/examples.json
include tccli/services/tse/v20201207/api.json
include tccli/services/tse/v20201207/examples.json
include tccli/services/tsf/v20180326/api.json
include tccli/services/tsf/v20180326/examples.json
include tccli/services/tsw/v20210412/api.json
include tccli/services/tsw/v20210412/examples.json
include tccli/services/tsw/v20200924/api.json
include tccli/services/tsw/v20200924/examples.json
include tccli/services/tts/v20190823/api.json
include tccli/services/tts/v20190823/examples.json
include tccli/services/ump/v20200918/api.json
include tccli/services/ump/v20200918/examples.json
include tccli/services/vm/v20201229/api.json
include tccli/services/vm/v20201229/examples.json
include tccli/services/vm/v20200709/api.json
include tccli/services/vm/v20200709/examples.json
include tccli/services/vms/v20200902/api.json
include tccli/services/vms/v20200902/examples.json
include tccli/services/vod/v20180717/api.json
include tccli/services/vod/v20180717/examples.json
include tccli/services/vpc/v20170312/api.json
include tccli/services/vpc/v20170312/examples.json
include tccli/services/waf/v20180125/api.json
include tccli/services/waf/v20180125/examples.json
include tccli/services/wav/v20210129/api.json
include tccli/services/wav/v20210129/examples.json
include tccli/services/wss/v20180426/api.json
include tccli/services/wss/v20180426/examples.json
include tccli/services/youmall/v20180228/api.json
include tccli/services/youmall/v20180228/examples.json
include tccli/services/yunjing/v20180228/api.json
include tccli/services/yunjing/v20180228/examples.json
include tccli/services/yunsou/v20191115/api.json
include tccli/services/yunsou/v20191115/examples.json
include tccli/services/yunsou/v20180504/api.json
include tccli/services/yunsou/v20180504/examples.json
include tccli/services/zj/v20190121/api.json
include tccli/services/zj/v20190121/examples.json